[run]
source =
    pyon
    examples
omit =
    */test/*
    examples/*
    */mockdb/*
    */util/*_plugin*
    */util/clear_couch_util*
    */insulate*
    */util/nose_gevent_profiler*
    */util/unit_test*
    */util/lru_cache*
    */interceptor/sample*
    pyon/__init__*
    */parsing/MonitorParser*
    */parsing/MonitorLexer*
[html]
directory = coverage_results
