*.kpf
*.pyc
*.swp
*.*.swp
.*.*.swo
*.log
*.pid
*.komodo*
docs
build
dist
*.egg-info
.pydevproject
.project
/.settings
/.metadata
dropin.cache
eggs/
parts/
develop-eggs/
downloads/
bin/
.installed.cfg
.idea
buildout.cfg
.idea
msc.*
res/config/pyon.local.yml
res/config/logging.local.yml
logs
res/config/*~*
scripts/*~*
unittest.out
interface/*
